{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": true
                }
            }
        ]
    ],
    "plugins": [
        "transform-class-properties",
        "@babel/plugin-proposal-private-methods"
    ]
}